body {
  padding-top: 70px;
  //background-color:#f9cbf7;
  //background-color:#e2c8e1;
    background-color:cornflowerblue;
}
body#index{
     background-color:#303f9f;;
}
[ng-click] {
  cursor: pointer;
}
textarea.editor {
  height: 500px;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  //background: #7986CB;
    background-color: cornflowerblue;
  color: floralwhite;
}

.attribute{
    color: #428bca;
    font-size:16px;
    padding-right:10px;
    
    
}
.panel-simple{
 padding-left: 15px;  
 //background-color:darkblue;
 
    
}
h4{ 
    
    //color: crimson;
    color:darkslateblue;
}

#sugar{
    
    //color: mediumblue;
    //font-weight: bold;
    //font-size:18px;
}
#sugar-form{
    //color: crimson;
}


.navbar{
 //background-color:darkslateblue;
 background-color: #303f9f;
 //border-color:cornflowerblue;
 //color:yellow;
    
}
#navindex{
    border-color:#303f9f;
}
.panel > .panel-heading{
  background-color:azure;
   border: 0;
    
}
.panel-footer{
  background-color: azure;
  border:0;    
}
.panel{
 background-color:azure;    
 border: 0;
    
}
.list-group-item{
    background-color:azure;
    
}
#navbar > ul > li > a{
    
    color:azure;
}
.logo {
    color:lightskyblue;
}
.nav > li.active > a{
    background-color: cornflowerblue;
    //color: darkslateblue;
    color: darkblue;
}
.nav > li.active > a:hover, .nav > li.active > a:focus, .nav > li > a:hover {
    background-color:lightskyblue;
    border:0;
    color:black;
}
.nav > li > a {
    color:darkblue;
    
}


.carousel {
    background:#1A237E;
    width: 1000px;
    margin-left:80px;
}
.carousel .item {
  height: 400px;
  
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.carousel-text{
    color:lightblue;
}
.btn, .dropdown-menu{
    background-color: azure;
    color:darkslateblue;
}

#donut{
    width:200px;
}
/*#nutri{
    font-size:24px;
}*/
.affix {
    top:100px;
}
.def{
    font-size:24px;
    color:#303f9f;
}
